@model IEnumerable<CheckPoint4.Models.Instrument>

@{
    ViewBag.Title = "Owned Instruments";
}

<br />>
<h2>Login Successful</h2>
<h3>Please see the list of Clients and the Instruments they own below</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.ClientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentPrice)
        </th>
        <th><!--Empty for the purpose of having another table header.. This is where the Delete button will go--></th>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.ClientFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.ClientLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.ClientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Clients", new { id = item.ClientID }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClientID })
        </td>
    </tr>
    }

</table>

